* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.bg-title{
    background-color: rgba(0, 217, 255, 0.137);
}

.bg-list{
    background-color: rgba(0, 68, 255, 0.164);

}

.checked{
    text-decoration: line-through;
}

.padding-x{
    padding: 4px 9px;
}
